.hero {
    background-image: url("/assets/img/nordwood-themes-wt4gUtdv1-U-unsplash.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: -70px;
    padding-top: 160px;
}

.input-group.search-keyword {
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(60, 24, 23, 0.15);
}
